<a href="https://colab.research.google.com/github/hseyeon1006/ESAA_YB/blob/main/HW0407.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#12. 시계열 데이터

##12-1. datetime 오브젝트

* datetime : 날짜와 시간을 처리하는 등의 다양한 기능을 제공하는 파이썬 라이브러리
* date 오브젝트 : 날짜를 처리
* time 오브젝트 : 시간을 처리
* datetime 오브젝트 : 날짜와 시간을 모두 처리

###datetime 오브젝트 사용하기

1. datetime 라이브러리 불러오기

In [1]:
from datetime import datetime

2. now, today 메서드 이용하기

In [2]:
now1 = datetime.now()
print(now1)

now2 = datetime.now()
print(now2)

2023-04-05 06:12:29.395332
2023-04-05 06:12:29.395841

3. datetime 오브젝트를 생성할 때 시간을 직접 입력하여 인자로 전달한 것

In [4]:
t1 = datetime.now()
t2 = datetime(1970,1,1)
t3 = datetime(1970,12,12,13,24,34)

print(t1)
print(t2)
print(t3)

2023-04-05 06:13:37.287481
1970-01-01 00:00:00
1970-12-12 13:24:34

4. 두 datetime 오브젝트의 차이를 구한 것(시간계산)

In [5]:
diff1 = t1-t2
print(diff1)
print(type(diff1))

diff2 = t2-t1
print(diff2)
print(type(diff2))

19452 days, 6:13:37.287481
<class 'datetime.timedelta'>
-19453 days, 17:46:22.712519
<class 'datetime.timedelta'>

##12-2. 사례별 시계열 데이터 계산하기

### 테슬라 주식 데이터로 시간 계산하기

1. get_data_quanal 메서드에 TSLA라는 문자열을 전달하여 테슬라의 주식 데이터를 내려받은 다음 to_csv 메서드를 사용하여 data 폴더 안에 'tesla_stock_quandl.csv'라는 이름으로 저장

In [10]:
pip install pandas-datareader

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas-datareader in /usr/local/lib/python3.9/dist-packages (0.10.0)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.9/dist-packages (from pandas-datareader) (1.4.4)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.9/dist-packages (from pandas-datareader) (2.27.1)
Requirement already satisfied: lxml in /usr/local/lib/python3.9/dist-packages (from pandas-datareader) (4.9.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.23->pandas-datareader) (2022.7.1)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.23->pandas-datareader) (1.22.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests>=2.19.0->pandas-datareader) (1.26.15)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests>=2.19.0->pandas-datareader) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests>=2.19.0->pandas-datareader) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests>=2.19.0->pandas-datareader) (2.0.12)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas>=0.23->pandas-datareader) (1.16.0)

In [8]:
from google.colab import drive
drive.mount('/content/mydrive')

Mounted at /content/mydrive

In [18]:
import pandas as pd

pd.core.common.is_list_like = pd.api.types.is_list_like
import pandas_datareader as pdr

#tesla에는 데이터프레임이 저장됨
tesla = pdr.get_data_quandl('TSLA',api_key = 'kzREW3axFfD4zwGKzR2D')
#tesla에 저장된 데이터프레임을 파일로 저장함
tesla.to_csv('/content/drive/MyDrive/Colab_Notebooks/학회/데이터/tesla_stock_quandl.csv')
#이 방식으로 하면 빈 tesla 데이터 프레임이 생성되므로 그냥 tesla csv를 읽어준다다

In [23]:
tesla = pd.read_csv('/content/drive/MyDrive/Colab_Notebooks/학회/데이터/tesla_stock_quandl.csv')

2. datetime 오브젝트로 자료형을 변환하기

In [24]:
tesla.head()

,Date,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
0,2018-03-27,304.00,304.27,277.18,279.18,13696168.0,0.0,1.0,304.00,304.27,277.18,279.18,13696168.0
1,2018-03-26,307.34,307.59,291.36,304.18,8324639.0,0.0,1.0,307.34,307.59,291.36,304.18,8324639.0
2,2018-03-23,311.25,311.61,300.45,301.54,6600538.0,0.0,1.0,311.25,311.61,300.45,301.54,6600538.0
3,2018-03-22,313.89,318.82,308.18,309.10,4914307.0,0.0,1.0,313.89,318.82,308.18,309.10,4914307.0
4,2018-03-21,310.25,322.44,310.19,316.53,5927881.0,0.0,1.0,310.25,322.44,310.19,316.53,5927881.0

3. Date 열을 Datetime 형으로 변환하려면 read_csv 메서드로 데이터 집합을 불러올 때 parse_dates 인자에 Date 열을 전달하면 됨

In [25]:
tesla = pd.read_csv('/content/drive/MyDrive/Colab_Notebooks/학회/데이터/tesla_stock_quandl.csv',
                    parse_dates=[0])
print(tesla.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1949 entries, 0 to 1948
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        1949 non-null   datetime64[ns]
 1   Open        1949 non-null   float64
 2   High        1949 non-null   float64
 3   Low         1949 non-null   float64
 4   Close       1949 non-null   float64
 5   Volume      1949 non-null   float64
 6   ExDividend  1949 non-null   float64
 7   SplitRatio  1949 non-null   float64
 8   AdjOpen     1949 non-null   float64
 9   AdjHigh     1949 non-null   float64
 10  AdjLow      1949 non-null   float64
 11  AdjClose    1949 non-null   float64
 12  AdjVolume   1949 non-null   float64
dtypes: datetime64[ns](1), float64(12)
memory usage: 198.1 KB
None

4. Date 열의 자료형이 datetime 오브젝트로 변환됨. 이제 dt 접근자를 사용할 수 있음

In [27]:
#불린 추출로 2010년 6월의 데이터 추출
print(tesla.loc[(tesla.Date.dt.year==2010) & (tesla.Date.dt.month==6)])

           Date   Open     High    Low  Close      Volume  ExDividend  \
1947 2010-06-30  25.79  30.4192  23.30  23.83  17187100.0         0.0
1948 2010-06-29  19.00  25.0000  17.54  23.89  18766300.0         0.0

      SplitRatio  AdjOpen  AdjHigh  AdjLow  AdjClose   AdjVolume
1947         1.0    25.79  30.4192   23.30     23.83  17187100.0
1948         1.0    19.00  25.0000   17.54     23.89  18766300.0

###datetime 오브젝트와 인덱스 - Datetimeindex
datetime 오브젝트를 데이터프레임의 인덱스로 설정하면 원하는 시간의 데이터를 바로 추출할 수 있음

###datetime 오브젝트를 인덱스로 설정해 데이터 추출하기

1. Date 열을 tesla 데이터프레임의 인덱스로 지정하기

In [28]:
tesla.index = tesla['Date']
print(tesla.index)

DatetimeIndex(['2018-03-27', '2018-03-26', '2018-03-23', '2018-03-22',
               '2018-03-21', '2018-03-20', '2018-03-19', '2018-03-16',
               '2018-03-15', '2018-03-14',
               ...
               '2010-07-13', '2010-07-12', '2010-07-09', '2010-07-08',
               '2010-07-07', '2010-07-06', '2010-07-02', '2010-07-01',
               '2010-06-30', '2010-06-29'],
              dtype='datetime64[ns]', name='Date', length=1949, freq=None)

2. datetime 오브젝트를 인덱스로 지정하면 다음과 같이 원하는 시간의 데이터를 바로 추출 가능함

In [29]:
#2015년의 데이터 추출
print(tesla['2015'].iloc[:5,:5])

                 Date    Open     High       Low   Close
Date
2015-12-31 2015-12-31  238.51  243.450  238.3700  240.01
2015-12-30 2015-12-30  236.60  243.634  235.6707  238.09
2015-12-29 2015-12-29  230.06  237.720  229.5470  237.19
2015-12-28 2015-12-28  231.49  231.980  225.5400  228.95
2015-12-24 2015-12-24  230.56  231.880  228.2800  230.57

<ipython-input-29-d8dc0a938de1>:2: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  print(tesla['2015'].iloc[:5,:5])

In [30]:
#2010년 6월의 데이터 추출
print(tesla['2010-06'].iloc[:,:5])

                 Date   Open     High    Low  Close
Date
2010-06-30 2010-06-30  25.79  30.4192  23.30  23.83
2010-06-29 2010-06-29  19.00  25.0000  17.54  23.89

<ipython-input-30-ba0fdeadcb68>:2: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  print(tesla['2010-06'].iloc[:,:5])

###시간 간격과 인덱스 - TimedeltaIndex
datetime 오브젝트를 인덱스로 지정하는 것이 아니라 시간 간격을 인덱스로 지정하여 진행 -> 주식 데이터에서 최초 5일간 수집된 데이터만 살펴볼 수 있음

### 시간 간격을 인덱스로 지정해 데이터 추출하기

1. Date 열에서 Date 열의 최솟값을 빼면 데이터를 수집한 후에 시간이 얼마나 흘렀는지 확인 가능함

In [31]:
#Date 열에서 Date 열의 최솟값을 뺀 다음 ref_date열로 추가
tesla['ref_date'] = tesla['Date']-tesla['Date'].min()
tesla.head()

,Date,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume,ref_date
Date,,,,,,,,,,,,,,
2018-03-27,2018-03-27,304.00,304.27,277.18,279.18,13696168.0,0.0,1.0,304.00,304.27,277.18,279.18,13696168.0,2828 days
2018-03-26,2018-03-26,307.34,307.59,291.36,304.18,8324639.0,0.0,1.0,307.34,307.59,291.36,304.18,8324639.0,2827 days
2018-03-23,2018-03-23,311.25,311.61,300.45,301.54,6600538.0,0.0,1.0,311.25,311.61,300.45,301.54,6600538.0,2824 days
2018-03-22,2018-03-22,313.89,318.82,308.18,309.10,4914307.0,0.0,1.0,313.89,318.82,308.18,309.10,4914307.0,2823 days
2018-03-21,2018-03-21,310.25,322.44,310.19,316.53,5927881.0,0.0,1.0,310.25,322.44,310.19,316.53,5927881.0,2822 days

2. ref_date열을 인덱스로 지정함. 시간 간격(ref_date)을 이용하여 데이터 추출 가능함

In [33]:
tesla.index = tesla['ref_date']
print(tesla.iloc[:5,:5])

                Date    Open    High     Low   Close
ref_date
2828 days 2018-03-27  304.00  304.27  277.18  279.18
2827 days 2018-03-26  307.34  307.59  291.36  304.18
2824 days 2018-03-23  311.25  311.61  300.45  301.54
2823 days 2018-03-22  313.89  318.82  308.18  309.10
2822 days 2018-03-21  310.25  322.44  310.19  316.53

3. 데이터를 수집한 이후 최초 5일의 데이터 추출

In [34]:
print(tesla['5 days':].iloc[:5,:5])

               Date   Open     High    Low  Close
ref_date
3 days   2010-07-02  23.00  23.1000  18.71  19.20
2 days   2010-07-01  25.00  25.9200  20.27  21.96
1 days   2010-06-30  25.79  30.4192  23.30  23.83
0 days   2010-06-29  19.00  25.0000  17.54  23.89

###시간 범위와 인덱스
특정일에 누락된 데이터를 포함시켜 데이터를 살펴보기 -> 임의로 시간 범위를 생성하여 인덱스로 지정

###시간 범위 생성해 인덱스로 지정하기

1. 누락된 데이터가 있는 에볼라 데이터를 이용해보기

In [35]:
ebola = pd.read_csv('/content/drive/MyDrive/Colab_Notebooks/학회/데이터/country_timeseries.csv')
print(ebola.iloc[:5,:5])
#2015년 1월 1일의 데이터가 누락됨

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0            NaN            10030.0
1    1/4/2015  288        2775.0            NaN             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286           NaN         8157.0                NaN
4  12/31/2014  284        2730.0         8115.0             9633.0

2. 뒤쪽의 데이터도 살펴보기

In [38]:
print(ebola.iloc[-5:,:5])
#2014년 3월 23일의 데이터 누락됨

          Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
117  3/27/2014    5         103.0            8.0                6.0
118  3/26/2014    4          86.0            NaN                NaN
119  3/25/2014    3          86.0            NaN                NaN
120  3/24/2014    2          86.0            NaN                NaN
121  3/22/2014    0          49.0            NaN                NaN

3. date_range 메서드 사용

In [39]:
#2014년 12월 31일부터 2015년 1월 5일 사이의 시간 인덱스 생성
head_range = pd.date_range(start='2014-12-31', end='2015-01-05')
print(head_range)

DatetimeIndex(['2014-12-31', '2015-01-01', '2015-01-02', '2015-01-03',
               '2015-01-04', '2015-01-05'],
              dtype='datetime64[ns]', freq='D')

4. 원본 데이터를 손상시키는 것을 방지하기 위해 ebola 데이터프레임의 앞쪽 5개의 데이터를 추출하여 새로운 데이터 프레임을 생성함. 이때 Date 열을 인덱스로 먼저 지정하지 않으면 오류가 발생함. 반드시! Date 열을 인덱스로 지정한 다음 과정 3에서 생성한 시간 범위를 인덱스로 지정해야 함.

In [40]:
ebola_5 = ebola.head()
ebola_5.index = ebola_5['Date']
ebola_5.reindex(head_range)
print(ebola_5.iloc[:5,:5])

                  Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
Date
1/5/2015      1/5/2015  289        2776.0            NaN            10030.0
1/4/2015      1/4/2015  288        2775.0            NaN             9780.0
1/3/2015      1/3/2015  287        2769.0         8166.0             9722.0
1/2/2015      1/2/2015  286           NaN         8157.0                NaN
12/31/2014  12/31/2014  284        2730.0         8115.0             9633.0

### 시간 범위의 주기 설정하기
- 시간 범위를 인덱스로 지정하면 DatetimeIndex 자료형이 만들어짐
- DatetimeIndex에는 freq 속성이 포함됨
- freq 속성값을 지정하면 시간 간격을 조절하여 DatetimeIndex를 만들 수 있음

<freq 속성값으로 사용할 수 있는 시간 주기>
1. B : 평일만 포함
2. C : 사용자가 정의한 평일만 포함
3. D : 달력 일자 단위
4. W : 주간 단위
5. M : 월 마지막 날만 포함
6. SM : 15일과 월 마지막 날만 포함
7. BM : M 주기의 값이 휴일이면 제외하고 평일만 포함
8. CBM : BM에 사용자 정의 평일을 적용
9. MS : 월 시작일만 포함
10. SMS : 월 시작일과 15일만 포함
11. BMS : MS 주기의 값이 휴일이면 제외하고 평일만 포함
12. CBMS : BMS에 사용자 정의 평일을 적용
13. Q : 3,6,9,12월 분기 마지막 날만 포함
14. BQ : 3. 6, 9. 12월 분기 마지막 날이 휴일이이면 제외하고 평일만 포함
15. QS : 3. 6, 9, 12월 분기 시작일만 포함
16. BQS : 3, 6, 9, 12월 분기 시작일이 휴일이면 제외하고 평일만 포함
17. A : 년의 마지막 날만 포함
18. BA : 년의 마지막 날이 휴일이면면 제외하고 평일만 포함 
19. AS : 년의 시작일만 포함
20. BAS : 년의 시작일이 휴일이면 제외하고 평일만 포함 
21. BH : 평일을 시간 단위로 포함(09：00 - 16：00)
22. H : 시간 단위로 포함(00：00 - 00：00)
23. T : 분 단위 포함
24. S : 초 단위 포함
25. L : 밀리초 단위 포함
26. U : 마이크로초 단위 포함
27. N : 나노초 단위 포함

In [41]:
#date_range 메서드의 freq 인잣값을 B로 설정하여 평일만 포함한 DatetimeIndex 만들기
print(pd.date_range('2017-01-01','2017-01-07',freq='B'))

DatetimeIndex(['2017-01-02', '2017-01-03', '2017-01-04', '2017-01-05',
               '2017-01-06'],
              dtype='datetime64[ns]', freq='B')